<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NutriApp{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #DCFCE7;">
    <header class="bg-success text-white text-center py-4 mb-4">
        <h1 class="mb-0">Los alimentos</h1>
        <p class="mb-0">Tu asistente de nutrición confiable</p>



        <main class="container py-5">
            {% block content %}{% endblock %}
        </main>

        <footer class="text-center py-3 bg-light border-top">
            <small>© 2025 NutriApp — Cuidando tu bienestar</small>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>